header {
    width: 100%;
    height: 70px;
    padding: 0 40px;
    position: absolute;
    font-size: 2rem;
    font-weight: 400;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

header p.logo {
    font-size: 2rem;
    font-weight: 700;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

header .username-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 50px;
}   

header .username-wrapper p {
    font-size: 1.2rem;
    padding-right: 30px;
}

header .username-wrapper a {
    font-size: 0.8rem;
    opacity: 0.8;
    position: absolute;
    right: -5px;
    bottom: -3px;
    transition: all 0.2s ease;
}

header .username-wrapper a:hover {
    opacity: 1;
}

main {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.error-msg {
    color: var(--red-accent-color);
}

.lobby-divider {
    width: 1px;
    height: 15%;
    background-color: var(--tertiary-color);
}

.lobby-side {
    width: 300px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.lobby-side label {
    font-weight: 700;
    font-size: 1rem;
    margin-bottom: 10px;
}

.lobby-side input {
    padding: 10px 15px;
    font-size: 1.1rem;
    text-align: center;
    border-radius: 5px;
    border: 1px solid var(--accent-color);
    background-color: var(--primary-color);
    outline: none;
}

.lobby-side input[type="submit"] {
    background-color: var(--secondary-color);
    border: none;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.2s ease;
}

.lobby-side input[type="submit"]:hover {
    background-color: var(--accent-color);
    color: var(--dark-primary-color);
}