header {
    width: 100%;
    height: 70px;
    padding: 0 40px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header p.logo {
    font-size: 2rem;
    font-weight: 700;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

header .back-to-lobby {
    position: relative;
    display: flex;
    align-items: center;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1.2rem;
    padding: 3px 10px;
    cursor: pointer;
    transition: all 0.2s ease;
    left: 0px;
    gap: 0px;
}

header .back-to-lobby:hover {
    gap: 10px;
    left: -10px;
    color: var(--accent-color);
}

header .back-to-lobby:hover svg {
    fill: var(--accent-color);
}

header .header-options {
    display: flex;
    align-items: center;
    gap: 15px;
}

.invite-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
    transition: all 0.2s ease;
}

.invite-wrapper p {
    font-size: 1rem;
    font-weight: 500;
}

.invite-code {
    width: 200px;
    display: flex;
    align-items: center;
    gap: 12px;
    background-color: var(--secondary-color);
    border-radius: 7px;
    padding: 3px;
    cursor: pointer;
}

.invite-code input {
    width: 150px;
    background-color: var(--primary-color);
    font-family: "Cascadia Mono", monospace;
    font-size: 1.1rem;
    font-weight: 500;
    text-align: center;
    padding: 5px;
    border: none;
    border-radius: 5px;
}

.invite-code button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
    font-size: 1.2rem;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.2s ease;
}

.invite-code button svg {
    fill: #e3e3e3;
    transition: all 0.2s ease;
}

.invite-code button svg:hover {
    fill: white;
}

.invite-msg {
    width: 200px;
    height: 36px;
    position: absolute;
    display: none;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-weight: 500;
    background-color: var(--accent-color);
    color: var(--primary-color);
    border-radius: 7px;
    transition: all 0.2s ease;
    top: 45px;
    right: 0;
    animation: fadeOut 2s forwards;
    z-index: -1;
}

@keyframes fadeOut {
    0% {
        top: 0px;
        opacity: 0;
    }
    30% {
        opacity: 1;
        top: 45px;
    }
    70% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

header .username-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 50px;
}   

header .username-wrapper p {
    font-size: 1.2rem;
    padding-right: 30px;
}

header .username-wrapper a {
    font-size: 0.8rem;
    opacity: 0.8;
    position: absolute;
    right: -5px;
    bottom: -3px;
    transition: all 0.2s ease;
}

header .username-wrapper a:hover {
    opacity: 1;
}

main {
    height: 100%;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-inner {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.user-card-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.user-card {
    background: transparent;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.user-card-inner {
    width: 100px;
    height: 150px;
    background-color: var(--dark-primary-color);
    border-radius: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    transition: all 0.2s ease;
    overflow: hidden;
}

.user-card-inner::before {
    content: "";
    position: absolute;
    width: 70px;
    height: 120%;
    background-color: var(--tertiary-color);
    animation: rotate 4s linear infinite;
    transition: width 2s ease, background-color .5s ease;
}   

.user-card-inner::after {
    content: "";
    position: absolute;
    background-color: var(--primary-color);
    border-radius: 5px;
    inset: 5px;
    transition: background-color .5s ease;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }    
}

.user-card.user-no-vote {
    filter: grayscale(1);
}

.user-ready .user-card-inner::before {
    width: 500px;
    background-color: var(--accent-color);
}

.user-card-showdown .user-card-inner::after {
    background-color: var(--accent-color);
}

.user-card-showdown .user-card-value {
    color: var(--primary-color);
}

.user-card-name {
    max-width: 120px;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 400;
    position: absolute;
    top: -50px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.user-card-tag {
    position: absolute;
    font-size: 0.8rem;
    top: -25px;
    opacity: 0.6;
}

.user-card-value {
    font-size: 3.5rem;
    z-index: 10;
    transition: color .5s ease;
}

.result-wrapper {
    text-align: center;
}

.result-wrapper h2 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.result-wrapper h2 span {
    color: var(--accent-color);
    font-size: 3rem;
}

.result-wrapper p {
    font-size: 1.4rem;
}

.action-btns-wrapper {
    display: flex;
    gap: 30px;
}

.action-btn {
    width: 200px;
    height: 50px;
    background-color: var(--secondary-color);
    border: none;
    border-radius: 10px;
    font-size: 1.4rem;
    cursor: pointer;
    transition: all 0.2s ease;
}

.action-btn:hover {
    background-color: var(--accent-color);
    color: var(--dark-primary-color);
}

.rate-bar {
    display: flex;
    /* gap: -45px; */
}

.rate-bar_btn {
    width: 80px;
    height: 130px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: -3px 3px 3px rgb(29, 29, 29);
    background-color: var(--primary-color);
    border: 1px solid var(--accent-color);
    border-radius: 10px;
    font-size: 2rem;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.2s ease;
}

.rate-bar_btn:hover {
    background-color: var(--secondary-color);
    box-shadow: -6px 6px 6px rgba(29, 29, 29);
}

.rate-bar_btn.active {
    background-color: var(--accent-color);
    color: var(--dark-primary-color);
    box-shadow: -6px 6px 6px rgb(29, 29, 29);
}

.rate-bar_plus {
    width: 24px;
    height: 24px;
    position: absolute;
    display: none;
    justify-content: center;
    align-items: center;
    top: calc(50% - 12px);
    right: -15px;
    background-color: var(--tertiary-color);
    border: 1px solid var(--accent-color);
    border-radius: 5px;
    line-height: 2;
    font-size: 1rem;
    font-weight: 900;
    color: var(--dark-primary-color);
    opacity: 0;
    transition: all 0.2s ease;
}

.rate-bar_btn:hover .rate-bar_plus {
    opacity: 1;
}

.rate-bar_plus:hover {
    background-color: var(--accent-color);
}